<%= stylesheet_link_tag 'styles/landing' %>
<p id="notice"><%= notice %></p>

<div class="landing_main_wrapper">
	<section id="last_sessions">
		<h4>Last 3 Sessions</h4>
		<div class="container" id="last_sessions_wrapper">
			<!-- sort plays and limit to three -->
			<% @plays.each do |play| %>
				<div class="row play_info">
					<%= render 'plays/play_info', play: play %>
				</div>
					<!-- Jump to game session page -->
			<% end %>
		</div>
	</section>
</div>




</div>

